
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
  background-color: rgb(25, 25, 25);
}

button {
  font-family: Inter;
  font-size: 40px;
  height: 90px;
  width: 90px;
  border: none;
  border-radius: 20px;
  padding: 0px;
  color: white;
  cursor: pointer;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 800px;
  width: 450px;
  background: black;
  border-radius: 15px;
  padding: 20px;
}

.main-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  width: 100%;
  border: solid yellow;
}

.section-result {
  display: flex;
  justify-content: end;
  padding-right: 20px;
}

.result {
  font-family: Inter;
  font-size: 54px;
  color: white;
  margin: 0px;
}

.main-section {
  display: flex;
  flex-direction: row;
  border: solid red;
  justify-content: space-evenly;
  width: 100%;
}

.second-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.stuff {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.stuff button {
  background-color: rgb(98, 98, 98);
}

.numbers-more {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.numbers-more button {
  background-color: rgb(33, 33, 33);
}

.operators {
  display: flex;
  flex-direction: column;
}

.operators button {
  background-color: rgb(235, 80, 65);
}

.operators .numbers-more .stuff .second-section {
  align-items: center;
  justify-content: center;
}
